{% extends 'siteweb/base.html' %}
{% load static %}

{% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url('{% static "assets/img/page-title-bg.webp" %}');">
      <div class="container position-relative">
        <h1>Blog</h1>
        
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home_view' %}">Home</a></li>
            <li class="current">Blog</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Blog Posts 2 Section -->
    <section id="blog-posts-2" class="blog-posts-2 section">

      <div class="container">
        <div class="row gy-4">

        {% for post in posts %}
          <div class="col-lg-4">
            <article class="position-relative h-100">
              {% if post.image %}
                <img src="{{ post.image.url }}" class="img-fluid" alt="{{ post.title }}">
              {% endif %}
              <div class="meta d-flex align-items-end">
                <span class="post-date"><span>{{ post.created|date:"d" }}</span>{{ post.created|date:"F" }}</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">{{post.author}}</span>
                </div>
                <!-- <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2"> {{ post.category.name }}</span>
                </div> -->
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">{{post.title}}</h3>
                <a href="{{post.get_absolute_url}}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

              </div>

            </article>
          </div><!-- End post list item -->
        {% endfor %}




        

        </div>
      </div>

    </section><!-- /Blog Posts 2 Section -->
    


    <!-- Blog Pagination Section -->
      {% include "C:\Users\AB SOLUTIONS\Documents\Full_learning\django_code\mon_site\monsite\siteweb\templates\layouts\pagination.html" with page=posts %}
    <!-- /Blog Pagination Section -->

    <!-- Call To Action Section -->
     <!-- /Call To Action Section -->

  </main>

{% endblock %}

