{% extends 'siteweb/base.html' %}
{% load static %}  
{% block content %}
  <main class="main">

    <!-- Page Title avec l'image ouii.png -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url('{% static "assets/img/page-title-bg.webp" %}');">
      <div class="container position-relative">
          <h1>Contact</h1>
          <nav class="breadcrumbs">
              <ol>
                  <li><a href="{% url 'home_view' %}">Home</a></li>
                  <li class="current">Contact</li>
              </ol>
          </nav>
      </div>
  </div>
  <!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container" data-aos="fade">

        <div class="row gy-5 gx-lg-5">

          <div class="col-lg-4">

            <div class="info">
              <h3>Contactez-nous</h3>
              <p>N'hésitez pas à nous contacter pour plus d'informations sur nos services d'analyse de données, gestion de fermes, et plus encore.</p>
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Localisation:</h4>
                  <p>Cameroun, Yaounde</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>contact@bangri.com</p>
                  <!-- <p>bikoyemmanuel531@gmail.com</p> -->
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+237 655 372 703</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-8">
            <h3>Contactez-nous</h3>
            <form method="post" action="{% url 'contact_view' %}" >
              {% csrf_token %}
              {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
              {% endif %}
              <div class="mb-3">
                <label for="name" class="form-label">Nom</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Adresse Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Send Message</button>
        </form>
    </div>
</div>
      </div>

    </section><!-- /Contact Section -->

  </main>
{% endblock %}
