{% load static %}
<link href="{% static 'assets/css/termsservices.css' %}" rel="stylesheet">

    <meta name="description" content="Découvrez les conditions générales d'utilisation de Bangri, votre solution innovante pour l'AgTech. Utilisez nos services dans le respect des règles établies.">
    <meta name="keywords" content="AgTech, conditions d'utilisation, Bangri, agriculture technologique, solutions agricoles, technologie agricole">
    <header class="page-header bg-light py-4 text-center">
        <h1>Politiques de Confidentialité</h1>
    </header>
    
    <section class="text-center mt-4">
        <a href="{% url 'home_view' %}" class="btn btn-success btn-lg">J'accepte les Conditions</a>
    </section>
    
    
    <main class="container my-5">
        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Introduction</h2>
                <p>Chez Bangri, nous accordons une grande importance à la protection de vos données personnelles. Cette politique explique quelles données nous collectons et comment elles sont utilisées.</p>
            </div>

        </section>
        
        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Données Collectées</h2>
                <p>Nous collectons des informations que vous nous fournissez directement, telles que votre nom, votre adresse e-mail, et toute autre information que vous soumettez via nos formulaires.</p>
            </div>
        </section>
        
        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Utilisation des Données</h2>
                <p>Nous utilisons vos données pour fournir, améliorer et personnaliser nos services. Nous pouvons également utiliser vos informations pour communiquer avec vous concernant des mises à jour, des offres ou des enquêtes.</p>
            </div>
        </section>
        
        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Partage des Données</h2>
                <p>Nous ne partageons pas vos données personnelles avec des tiers, sauf si cela est nécessaire pour fournir nos services ou si cela est requis par la loi.</p>
            </div>
        </section>
        
        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Sécurité des Données</h2>
                <p>Nous prenons des mesures raisonnables pour protéger vos données contre tout accès non autorisé ou toute divulgation non souhaitée.</p>
            </div>
            </section>
        
        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Vos Droits</h2>
                <p>Vous avez le droit d'accéder à vos données, de les corriger, de les supprimer ou de vous opposer à leur traitement. Pour toute demande, veuillez nous contacter à <a href="mailto:contact@bangri.com">contact@bangri.com</a>.</p>
            </div>
        </section>

        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Modifications de la Politique</h2>
                <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Nous vous informerons de tout changement important.</p>
            </div>
        </section>

        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Contact</h2>
                <p>Pour toute question relative à cette politique de confidentialité, contactez-nous à <a href="mailto:privacy@votreagtech.com">privacy@votreagtech.com</a>.</p>
            </div>
        </section>
    </main>
    <p>Consultez également nos <a href="{% url 'terms_of_service' %}">Conditions d'utilisation</a>.</p>
    
    <footer class="footer bg-dark text-light py-4">
        <div class="container text-center">
            <p>&copy;   Bangri. Tous droits réservés.</p>
            <p>Conçu par <a href="https://bootstrapmade.com/" class="text-light">EmmanuelBangwen</a></p>
        </div>
    </footer>