{% extends 'siteweb/base.html' %}
{% load static %}

{% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url('{% static "assets/img/page-title-bg.webp" %}');">
      <div class="container position-relative">
        <h1>{{ tag.name }}</h1>
        
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home_view' %}">Home</a></li>
            <li class="current">{{ tag.name }}</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Blog Posts Section -->
    <section id="blog-posts-2" class="blog-posts-2 section">
      <div class="container">
        <div class="row gy-4">
          {% if posts %}
            {% for post in posts %}
            <div class="col-lg-4">
              <article class="position-relative h-100">
                <div class="post-img position-relative overflow-hidden">
                  {% if post.image %}
                  <img src="{{ post.image.url }}" class="img-fluid" alt="{{ post.title }}">
                      {% endif %}
                  </div>
                <div class="meta d-flex align-items-end">
                  <span class="post-date">
                    <span>{{ post.published|date:"d" }}</span>{{ post.published|date:"F" }}
                  </span>
                
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> 
                    <span class="ps-2">{{ tag.name }}</span>
                  </div>
                </div>
                <div class="post-content d-flex flex-column">
                  <h3 class="post-title">{{ post.title }}</h3>
                  <p>{{ post.excerpt }}</p>
                  <a href="{{ post.get_absolute_url }}" class="readmore stretched-link">
                    <span>Read More</span><i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </article>
            </div><!-- End post list item -->
            {% endfor %}
          {% else %}
            <p>No posts available for this tag.</p>
          {% endif %}
        </div>
      </div>
    </section><!-- /Blog Posts Section -->

    

  </main>
{% endblock %}
