{% load static %}
<link href="{% static 'assets/css/termsservices.css' %}" rel="stylesheet">

    <meta name="description" content="Découvrez les conditions générales d'utilisation de Bangri, votre solution innovante pour l'AgTech. Utilisez nos services dans le respect des règles établies.">
    <meta name="keywords" content="AgTech, conditions d'utilisation, Bangri, agriculture technologique, solutions agricoles, technologie agricole">
    <header class="page-header bg-light py-4 text-center">
        <h1>Conditions Générales d'Utilisation</h1>
    </header>
    
    <section class="text-center mt-4">
        <a href="{% url 'home_view' %}" class="btn btn-success btn-lg">J'accepte les Conditions</a>
    </section>
    
    
    <main class="container my-5">
        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Introduction</h2>
                <p>Bienvenue sur le site web de Bangri. En accédant à ce site, vous acceptez de vous conformer à nos conditions générales d'utilisation. Si vous n'êtes pas d'accord, veuillez ne pas utiliser notre site.</p>
            </div>
        </section>
    
        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Accès au Service</h2>
                <p>Notre site et nos services sont destinés à fournir des solutions technologiques pour le secteur agricole. Nous nous réservons le droit de modifier ou d'interrompre tout service à tout moment sans préavis.</p>
            </div>
        </section>
    
        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Utilisation Autorisée</h2>
                <p>Vous vous engagez à utiliser notre site de manière responsable et à ne pas utiliser nos services pour des activités illégales, frauduleuses ou nuisibles à d'autres utilisateurs.</p>
            </div>
        </section>
    
        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Propriété Intellectuelle</h2>
                <p>Tout contenu présent sur ce site, y compris les textes, images, logos, et logiciels, est protégé par les droits d'auteur. Vous ne pouvez pas utiliser ce contenu sans autorisation.</p>
            </div>
        </section>
    
        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Modifications des Conditions</h2>
                <p>Nous pouvons modifier ces conditions à tout moment. Les utilisateurs seront notifiés de tout changement, et il est de votre responsabilité de les consulter régulièrement.</p>
            </div>
        </section>
    
        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h2>Contact</h2>
                <p>Si vous avez des questions concernant ces conditions, veuillez nous contacter à <a href="mailto:contact@Bangri.com">contact@Bangri.com</a>.</p>
            </div>
        </section>
    </main> 
    <p>Consultez également nos <a href="{% url 'privacy_policy' %}">politiques de confidentialité</a>.</p>

    
    <footer class="footer bg-dark text-light py-4">
        <div class="container text-center">
            <p>&copy;   Bangri. Tous droits réservés.</p>
            <p>Conçu par <a href="https://bootstrapmade.com/" class="text-light">EmmanuelBangwen</a></p>
        </div>
    </footer>
    